{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <main class="content">

        {% include 'includes/navigation.html' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        {% if d.sf %}
            {% set last = d.sf|last %}
        {% endif %}
        <br>

        <!-- live data -->
        <div class="row justify-content-md-center">
            <!-- live situation -->
            <div class="card border-light shadow-sm">
                <!-- TITLE: live situation -->
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Live situation </h2>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span
                                                class="fas fa-temperature-high"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">Temperature</h2>
                                            <h3 class="mb-1">Error</h3>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">Temperature</h2>
                                            <h3 class="mb-1">{{ last.temperature }} °C</h3>
                                        </div>
                                        <span class="icon icon-small"><span
                                                class="fas fa-clock"></span></span> {{ last.timestamp.strftime("%b %d %Y %H:%M:%S") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span
                                                class="fas fa-tint"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">Humidity</h2>
                                            <h3 class="mb-1">Error</h3>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">Humidity</h2>
                                            <h3 class="mb-1"> {{ last.humidity }} % </h3>
                                        </div>
                                        <span class="icon icon-small"><span
                                                class="fas fa-clock"></span></span> {{ last.timestamp.strftime("%b %d %Y %H:%M:%S") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                        <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span
                                                class="fas fa-balance-scale"></span></div>
                                        <div class="d-sm-none">
                                            <h2 class="h5">Weight</h2>
                                            <h3 class="mb-1">Error</h3>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">
                                        <div class="d-none d-sm-block">
                                            <h2 class="h5">Weight</h2>
                                            <h3 class="mb-1">{{ '%0.3f'|format(last.weight|float) }} g</h3>
                                        </div>
                                        <span class="icon icon-small"><span
                                                class="fas fa-clock"></span></span> {{ last.timestamp.strftime("%b %d %Y %H:%M:%S") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">

        </div>

        <br>
        <div class="row">
            <!-- HiveStatus -->
            <div class="col-12 col-xl-8 mb-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h2 class="h5">Hive status</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-light shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-passport"></span></span>Hive id</h6>
                                        </div>
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"></span>{{ d.hive.hive_id }}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-wifi"></span></span>Status</h6>
                                        </div>
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"></span>
                                                {% if d.time %}
                                                    Online
                                                {% endif %}
                                                {% if not d.time %}
                                                    Offline
                                                {% endif %}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-layer-group"></span></span>Number of supers</h6>
                                        </div>
                                        <div>
                                            <a href="#" class="text-primary font-weight-bold"><a style="width:25px"
                                                                                                 class="btn btn-outline-primary btn-sm "
                                                                                                 href="{{ url_for('home_blueprint.removeSupers',  hive_id = d.hive.hive_id, apiary = d.hive.apiary_id) }}"
                                                                                                 role="button"> - </a>
                                                {{ d.hive.n_supers }} <a style="width:25px"
                                                                         class="btn btn-outline-primary btn-sm "
                                                                         href="{{ url_for('home_blueprint.addSupers',  hive_id = d.hive.hive_id, apiary = d.hive.apiary_id) }}"
                                                                         role="button">+</a> </a>

                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-map-marker-alt"></span></span>Location</h6>
                                        </div>
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"></span>{{ d.loc }}</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-temperature-low"></span></span>External temperature
                                            </h6>
                                        </div>
                                        <div>
                                            <a href="#" class="text-primary font-weight-bold">{{ d.w.temperature }}
                                                °C</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-tint"></span></span>External humidity
                                            </h6>
                                        </div>
                                        <div>
                                            <a href="#" class="text-primary font-weight-bold">{{ d.w.humidity }} %</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-wind"></span></span>Wind</h6>
                                        </div>
                                        <div>
                                            <a href="#" class="text-primary font-weight-bold">{{ d.w.wind }} m/s</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-cloud-sun"></span></span>Weather conditions</h6>
                                        </div>
                                        <div>
                                            <a href="#" class="text-primary font-weight-bold">{{ d.w.status }}</a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-volume-up"></span></span>Alarm</h6>
                                        </div>
                                        <div>
                                            <a href="#" class="text-primary font-weight-bold">
                                                {% if d.hive.alarm %}
                                                    Active
                                                {% endif %}
                                                {% if not d.hive.alarm %}
                                                    Inactive
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pt-3">
                                        <div>
                                            <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                                    class="fas fa-door-open"></span></span>Entrance</h6>
                                        </div>
                                        <div>
                                            <div class="form-check form-switch">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">
                                                    <a class="text-primary font-weight-bold">
                                                        {% if d.hive.entrance %}
                                                            Open
                                                        {% endif %}
                                                        {% if not d.hive.entrance %}
                                                            Closed
                                                        {% endif %}
                                                    </a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Control hive -->
            <div class="col-12 col-xl-4 mb-4">
                <!-- commands -->
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header border-bottom border-light d-flex justify-content-between">
                            <h2 class="h5 mb-0">Control hive</h2>
                        </div>
                        <div class="card-body">
                            {#                            <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">#}
                            <a class="nav-link"
                               href="{{ url_for('home_blueprint.dashboard', apiary=d.apiary, hive_id=d.hive.hive_id, type="none") }}">
                                <button class="btn btn-primary w-100" type="button" aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="fas fa-sync-alt"></span> Refresh data
                                </button>
                            </a>
                            {#                            </div>#}
                            {#                            <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">#}
                            <a class="nav-link"
                               href="{{ url_for('home_blueprint.dashboard', apiary=d.apiary, hive_id=d.hive.hive_id, type="alarm") }}">
                                <button class="btn btn-primary w-100" type="button" aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="fas fa-volume-up"></span>
                                    {% if d.hive.alarm %}
                                        Turn alarm off
                                    {% endif %}
                                    {% if not d.hive.alarm %}
                                        Turn alarm on
                                    {% endif %}
                                </button>
                            </a>
                            {#                            </div>#}
                            {#                            <div class="d-flex align-items-center justify-content-between pt-3">#}
                            <a class="nav-link"
                               href="{{ url_for('home_blueprint.dashboard', apiary=d.apiary, hive_id=d.hive.hive_id, type="entrance") }}">
                                <button class="btn btn-primary w-100" type="button" aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="fas fa-door-open"></span>
                                    {% if d.hive.entrance %}
                                        Close hive entrance
                                    {% endif %}
                                    {% if not d.hive.entrance %}
                                        Open hive entrance
                                    {% endif %}
                                </button>
                            </a>
                            {#                            </div>#}
                        </div>
                    </div>
                </div>

                <!-- honey production -->
                <div class="col-12 px-0 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header border-bottom border-light">
                            <h2 class="h5 mb-0">Honey production</h2>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                                <div>
                                    <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                            class="fas fa-backward"></span></span>Last week</h6>
                                </div>
                                <div>
                                    <h6 class="mb-0"><span
                                            class="icon icon-xs mr-3"></span>{{ '%0.2f'|format(d.last_week|float) }} g
                                    </h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                <div>
                                    <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                            class="fab fa-forumbee"></span></span>This week</h6>
                                </div>
                                <div>
                                    <h6 class="mb-0"><span
                                            class="icon icon-xs mr-3"></span>{{ '%0.2f'|format(d.this_week|float) }} g
                                    </h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                <div>
                                    <h6 class="mb-0"><span class="icon icon-xs mr-3"><span
                                            class="fas fa-forward"></span></span>Next week</h6>
                                </div>
                                <div>
                                    <h6 class="mb-0"><span
                                            class="icon icon-xs mr-3"></span>{{ '%0.2f'|format(d.next_week|float) }} g
                                    </h6>
                                </div>
                            </div>
                            <br>


                            <div class="col-auto">
                                    <span class="sidebar-icon">
                                        <img src="/static/assets/img/honey.svg" height="40" width="40" alt="Bee Logo">&nbsp;
                                    </span>
                            </div>
                            <div class="col">
                                <div class="progress-wrapper">
                                    <div class="progress-info">
                                        <div class="h6 mb-0">Honey quantity</div>

                                        <div class="small font-weight-bold text-dark"><span>{{ d.hp }} %</span></div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar bg-warning" role="progressbar"

                                             aria-valuenow="{{ last.weight }}" aria-valuemin="0"
                                             aria-valuemax="{{ (d.hive.n_supers*30000) + 50000 }}"
                                             style="width: {{ (last.weight * 100)/((d.hive.n_supers*30000) + 50000) }}%;"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br>
        <!-- grafico -->
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="h5">Data trend</h2>
                        </div>
                    </div>
                </div>
                <br>
                <center>
                    <div>
                        <div id="chartContainer" style="height: 300px; width: 90%;"></div>
                    </div>
                </center>
                <br>
            </div>
        </div>

        <!-- tabella dati -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="h5">History data</h2>
                            </div>
                            <div class="col text-right">
                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = d.hive.hive_id) }}"
                                   class="btn btn-sm btn-secondary">See all</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="mydatatable" class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-light">
                            <tr>
                                <th class="border-0">Id Hive</th>
                                <th class="border-0">Internal<br>Temp</th>
                                <th class="border-0">External<br>Temp</th>
                                <th class="border-0">Internal<br>Humidity</th>
                                <th class="border-0">External<br>Humidity</th>
                                <th class="border-0">Weight</th>
                                <th class="border-0">Wind</th>
                                <th class="border-0">Time</th>
                            </tr>
                            </thead>
                            <tbody>

                            <!-- Item -->
                            {% for el in d.sf %}
                                <tr>
                                    <td class="border-0">
                                        {{ el.hive_id }}
                                    </td>
                                    <td class="border-0">
                                        {{ el.temperature }} °C
                                    </td>
                                    <td class="border-0">
                                        {{ el.ext_temperature }} °C
                                    </td>
                                    <td class="border-0">
                                        {{ el.humidity }} %
                                    </td>
                                    <td class="border-0">
                                        {{ el.ext_humidity }} %
                                    </td>
                                    <td class="border-0">
                                        {{ '%0.2f'|format(el.weight|float) }} kg
                                    </td>
                                    <td class="border-0">
                                        {{ el.wind }} m/s
                                    </td>
                                    <td class="border-0">
                                        {{ el.timestamp.strftime("%b %d %Y %H:%M:%S") }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <br>

        <!-- swarmings -->
        <div class="row justify-content-md-center">
            <div class="card border-light shadow-sm">

                <div class="card-header border-bottom border-light">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="h5">Swarming events</h2>
                            </div>
                            <div class="col text-right">
                                <a href="{{ url_for('home_blueprint.swarming', hive_id = d.hive.hive_id) }}"
                                   class="btn btn-sm btn-secondary">See all</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center">

                    <div class="col">
                        <div class="card-header border-bottom border-light">
                            <h2 class="h5 mb-0">Events communicated to the hive</h2>
                        </div>
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <table id="swarming_com" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="border-0">Id Hive</th>
                                        <th class="border-0">Id swarm</th>
                                        <th class="border-0">Weight<br>variation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Item -->
                                    {% for com in d.swarmings_communications %}
                                        <tr>
                                            <td class="border-0">
                                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = com.hive_id) }}"
                                                   class="font-weight-bold">
                                                    {{ com.hive_id }}
                                                </a>
                                            </td>
                                            <td class="border-0">
                                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = com.hive_id) }}"
                                                   class="font-weight-bold">
                                                    {{ com.swarm_id }}
                                                </a>
                                            </td>
                                            <td class="border-0">
                                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = com.hive_id) }}"
                                                   class="font-weight-bold">
                                                    {{ '%0.2f'|format(com.weight_variation|float) }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <!-- Item -->


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-header border-bottom border-light">
                            <h2 class="h5 mb-0">Events happened in the hive</h2>
                        </div>
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <table id="swarming_table" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="border-0">Event<br>Id</th>
                                        <th class="border-0">Started</th>
                                        <th class="border-0">Real</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Item -->
                                    {% for swarm in d.swarmings %}
                                        <tr>
                                            <td class="border-0">
                                                {{ swarm.swarm_id }}
                                            </td>
                                            <td class="border-0">
                                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = swarm.hive_id) }}"
                                                   class="font-weight-bold">
                                                    {{ swarm.alert_period_begin.strftime("%b %d %Y %H:%M:%S") }}
                                                </a>
                                            </td>
                                            <td class="border-0">
                                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = swarm.hive_id) }}"
                                                   class="font-weight-bold">
                                                    {{ swarm.real }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <!-- Item -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>
    <script>
        $(document).ready(function () {
            $('#mydatatable').DataTable();
        });
        $(document).ready(function () {
            $('#swarming_table').DataTable();
        });
        $(document).ready(function () {
            $('#swarming_com').DataTable();
        });
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    swal('Warning', '{{ message }}', "warning")
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                backgroundColor: "#FFFFFF",
                zoomEnabled: true,
                axisX: {
                    valueFormatString: "MMM DD YYYY HH:mm:ss ",
                    stripLines: [
                        {% for s in d.swarm %}
                            {% if s.alert_period_end and s.real == False%}
                                {
                                    startValue: new Date("{{ s.alert_period_begin.strftime("%b %d %Y %H:%M:%S") }}"),
                                    endValue: new Date("{{ s.alert_period_end.strftime("%b %d %Y %H:%M:%S") }}"),
                                    opacity: .2
                                },
                            {% endif %}
                            {% if s.alert_period_end and s.real == True%}
                                {
                                    startValue: new Date("{{ s.alert_period_begin.strftime("%b %d %Y %H:%M:%S") }}"),
                                    endValue: new Date("{{ s.alert_period_end.strftime("%b %d %Y %H:%M:%S") }}"),
                                    color: "green",
                                    opacity: .2
                                },
                            {% endif %}
                        {% endfor %}
                        {#                        {#}
                        {#				            startValue:new Date(2021,3,14,19,0,0),#}
                        {#                            endValue:new Date(2021,3,14,19,30,0),#}
                        {#				            color:"#F8BD7A"#}
                        {#			            }#}
                    ]
                },
                axisY: {
                    title: "Graph"
                },
                legend: {
                    cursor: "pointer",
                    fontSize: 16,
                    itemclick: toggleDataSeries
                },
                toolTip: {
                    shared: true
                },
                cubicInterpolationMode: 'linear',
                data: [{
                    name: "Temperature",
                    type: "spline",
                    yValueFormatString: "#0.## °C",
                    xValueType: "dateTime",
                    showInLegend: true,
                    dataPoints: [
                        {% for p in d.sf %}
                            {x: new Date("{{ p.timestamp }}"), y: {{p.temperature}}},
                        {% endfor %}
                    ]
                },
                    {
                        name: "Ext temperature",
                        type: "spline",
                        yValueFormatString: "#0.## °C",
                        xValueType: "dateTime",
                        showInLegend: true,
                        dataPoints: [
                            {% for p in d.sf %}
                                {x: new Date("{{ p.timestamp }}"), y: {{p.ext_temperature}}},
                            {% endfor %}
                        ]
                    },
                    {
                        name: "Humidity",
                        type: "spline",
                        yValueFormatString: "##,##%",
                        xValueType: "dateTime",
                        showInLegend: true,
                        dataPoints: [
                            {% for p in d.sf %}
                                {x: new Date("{{ p.timestamp }}"), y: {{p.humidity}}},
                            {% endfor %}
                        ]
                    },
                    {
                        name: "Ext humidity",
                        type: "spline",
                        yValueFormatString: "##,##%",
                        xValueType: "dateTime",
                        showInLegend: true,
                        dataPoints: [
                            {% for p in d.sf %}
                                {x: new Date("{{ p.timestamp }}"), y: {{p.ext_humidity}}},
                            {% endfor %}
                        ]
                    },
                    {
                        name: "Weight",
                        type: "spline",
                        yValueFormatString: "#0.## g",
                        xValueType: "dateTime",
                        showInLegend: true,
                        dataPoints: [
                            {% for p in d.sf %}
                                {x: new Date("{{ p.timestamp }}"), y: {{p.weight}}},
                            {% endfor %}
                        ]
                    }
                ]
            });

            chart.render();

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }


        }
    </script>
{% endblock javascripts %}

