


{% extends "layouts/base.html" %}

{% block title %} Hives {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

    <main class="content">

        {% include 'includes/navigation.html' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <br>
        <!-- hives list -->
        <div class="card card-body bg-white border-light shadow-sm mb-4">
            <h2 class="h5 mb-4">Your hives</h2>
            Here you can see all your hives of {{ apiary }} apiary
            <div><br></div>
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <br>
                <table id="apiarytable" class="table table-hover">
                    <thead>
                    <tr>
                        <th class="border-0">Id Hive</th>
                        <th class="border-0">Id Apiary</th>
                        <th class="border-0">Number of supers</th>
                        <th class="border-0">Hive Description</th>
                        <th class="border-0">Association Code</th>
                        <th class="border-0">Settings</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Item -->
                    {% for hive in hives %}
                        <tr>
                            <td class="border-0">
                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = hive.hive_id) }}"
                                   class="font-weight-bold">
                                    {{ hive.hive_id }}
                                </a>
                            </td>
                            <td class="border-0">
                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = hive.hive_id) }}"
                                   class="font-weight-bold">
                                    {{ hive.apiary_id }}
                                </a>
                            </td>
                            <td class="border-0">
                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = hive.hive_id) }}"
                                   class="font-weight-bold">
                                    {{ hive.n_supers }}
                                </a>
                            </td>
                            <td class="border-0">
                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = hive.hive_id) }}"
                                   class="font-weight-bold">
                                    {{ hive.hive_description }}
                                </a>
                            </td>
                            <td class="border-0">
                                <a href="{{ url_for('home_blueprint.sensorFeed', hive_id = hive.hive_id) }}"
                                   class="font-weight-bold">
                                    {{ hive.association_code }}
                                </a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{{ url_for('home_blueprint.dashboard', apiary=hive.apiary_id, hive_id = hive.hive_id, type = "none") }}"><span
                                                class="fab fa-forumbee"></span>View Dashboard</a>

                                        <a class="dropdown-item"
                                           href="{{ url_for('home_blueprint.sensorFeed', hive_id = hive.hive_id) }}"><span
                                                class="fas fa-database"></span>View sensors feeds</a>

                                        <a class="dropdown-item text-danger"
                                           href="{{ url_for('home_blueprint.removeHive', to_remove = hive.hive_id, apiary = hive.apiary_id) }}"><span
                                                class="fas fa-trash-alt mr-2"></span>Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- Item -->


                    </tbody>
                </table>
            </div>
        </div>


        <br>
        <div class="card card-body bg-white border-light shadow-sm mb-4">
            <h2 class="h5 mb-4">Insert new hive</h2>
            Here you can choose an apiary and add a new hive to it
            <form method="post" action="" enctype=multipart/form-data class="mt-4">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Apiary</label>
                            {{ form.id_apiary(placeholder="Apiary id", class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Hive description</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span
                                        class="fas fa-sticky-note"></span></span>
                                {{ form.hive_description(placeholder="Insert a description", class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Number of supers</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span
                                        class="fas fa-layer-group"></span></span>
                                {{ form.n_supers(placeholder="Number of supers", class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Association code</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span
                                        class="fas fa-code"></span></span>
                                {{ form.association_code(placeholder="Association Code", class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>File</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><span
                                        class="fas fa-file"></span></span>
                                {{ form.file(placeholder="File", class="form-control") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" name="new_hive" class="btn btn-primary">Insert new hive</button>
                </div>
            </form>
        </div>


        {% include 'includes/footer.html' %}

    </main>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    swal('Warning', '{{ message }}', "warning")
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <script>
        $(document).ready(function () {
            $('#apiarytable').DataTable();
        });
    </script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
