{% extends "layouts/base.html" %}

{% block title %} Sensor feed {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>


    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="py-4">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="{{ url_for('home_blueprint.index') }}"><span
                            class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="#">SmartHive</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hives</li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Sensor feed of hive: {{ hive }}</h1>
                    <p class="mb-0">Here you can see the values captured by the sensors of the {{ hive }} hive</p>
                </div>
            </div>
        </div>
        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                </div>
            </div>
        </div>

        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="mydatatable" class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                        <tr>
                            <th class="border-0">Id Hive</th>
                            <th class="border-0">Internal<br>Temp</th>
                            <th class="border-0">External<br>Temp</th>
                            <th class="border-0">Internal<br>Humidity</th>
                            <th class="border-0">External<br>Humidity</th>
                            <th class="border-0">Weight</th>
                            <th class="border-0">Wind</th>
                            <th class="border-0">Time</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!-- Item -->
                        {% for el in sf %}
                            <tr>
                                <td class="border-0">
                                    {{ el.hive_id }}
                                </td>
                                <td class="border-0">
                                    {{ el.temperature }} °C
                                </td>
                                <td class="border-0">
                                    {{ el.ext_temperature }} °C
                                </td>
                                <td class="border-0">
                                    {{ el.humidity }} %
                                </td>
                                <td class="border-0">
                                    {{ el.ext_humidity }} %
                                </td>
                                <td class="border-0">
                                    {{ '%0.2f'|format(el.weight|float) }} kg
                                </td>
                                <td class="border-0">
                                    {{ el.wind }} m/s
                                </td>
                                <td class="border-0">
                                    {{ el.timestamp.strftime("%b %d %Y %H:%M:%S") }}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        {% include 'includes/footer.html' %}

    </main>
    <script>
        $(document).ready(function () {
            $('#mydatatable').DataTable();
        });
    </script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
