{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        <br>

        <section class="section section-lg bg-white">


            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h2 class="h1 font-weight-light mb-3">Smart hive</h2>
                        <p class="lead mb-4">Smart hive is a project developed for the IOT course by the vombati
                            team.️</p>
                        <div class="d-flex align-items-center">
                            <a href="https://github.com/app-generator/flask-dashboard-volt" target="_blank"
                               class="btn btn-dark mr-4">
                                View on GitHub
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="github-big-icon">
                            <img src="static/assets/img/v1.png" alt="Flower presentation">
                        </div>
                    </div>
                </div>
                <div class="row mt-6">
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-light p-4">
                            <!-- Header -->
                            <div class="card-header bg-white border-0 pb-0">
                                <span class="d-block">
                                    <span class="h2 text-primary font-weight-bold align-top">Vombati history</span>
                                </span>
                            </div>
                            <!-- End Header -->
                            <!-- Content -->
                            <div class="card-body">
                                The vombati team is made up of Davide, Giuseppe and Paolo, three young IT engineers who
                                met by chance in March 2020 to develop a computer vision project for the university.

                            </div>
                            <!-- End Content -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- live data -->
        <div class="row justify-content-md-center">
            <!-- live situation -->
            <div class="card border-light shadow-sm">
                <!-- TITLE: live situation -->
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Vombati team</h2>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 mb-4">
                                        <div class="card border-light text-center p-0">
                                            <div class="profile-cover rounded-top"
                                                 data-background="/static/assets/img/profile-cover.jpg"></div>
                                            <div class="card-body pb-5">
                                                <img src="/static/assets/img/team/davide.jpg"
                                                     class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4"
                                                     alt="Neil Portrait">
                                                <h4 class="h3">
                                                    Davide Caputo Imbriaco
                                                </h4>
                                                <h5 class="font-weight-normal">
                                                    269593@studenti.unimore.it
                                                </h5>
                                                <p class="text-gray mb-4">Castel Ruggero, SA</p>

                                                <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 mb-4">
                                        <div class="card border-light text-center p-0">
                                            <div class="profile-cover rounded-top"
                                                 data-background="/static/assets/img/profile-cover.jpg"></div>
                                            <div class="card-body pb-5">
                                                <img src="/static/assets/img/team/giuseppe.jpg"
                                                     class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4"
                                                     alt="Neil Portrait">
                                                <h4 class="h3">
                                                    Giuseppe Doganieri
                                                </h4>
                                                <h5 class="font-weight-normal">
                                                    2771768@studenti.unimore.it
                                                </h5>
                                                <p class="text-gray mb-4">Vinchiaturo, CB</p>

                                                <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 mb-4">
                                        <div class="card border-light text-center p-0">
                                            <div class="profile-cover rounded-top"
                                                 data-background="/static/assets/img/profile-cover.jpg"></div>
                                            <div class="card-body pb-5">
                                                <img src="/static/assets/img/team/paolo.jpg"
                                                     class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4"
                                                     alt="Neil Portrait">
                                                <h4 class="h3">
                                                    Paolo Bertellini
                                                </h4>
                                                <h5 class="font-weight-normal">
                                                    225184@studenti.unimore.it
                                                </h5>
                                                <p class="text-gray mb-4">Curtatone, MN</p>

                                                <a class="btn btn-sm btn-secondary" href="#">Send Message</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
